body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #48483D;
    color: #1D2616;
    margin: 0px 0px 0px 0px;
}

header {
    background-color: #38482D;
    color: #E8EEE3;
    height: 100vh;
    justify-content: center;
    display: grid;

    .pageTitle {
        margin: auto;

        h1 {
            font-size: 72px;
            margin: 25px 0px;
        }
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6A8755;

    li {
        float: left;
        max-height: 48px;

        a {
            display: block;
            color: #E8EEE3;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover {
                background-color: #38482D;
            }
        }
    }
}

main {
    width: calc(100% - 120px);
    background-color: #E8EEE3;
    align-content: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

form {
    display: flex;

    .interactiveElement {
        margin: 0px auto 0px 0px;
        overflow: hidden;
        display: grid;
    }

    h3 {
        margin: 0px 0px;
    }
}

footer {
    background-color: #6A8755;
    color: #E8EEE3;
    width: calc(100% - 100px);
    padding: 14px 50px;
    font-size: 14px;
    margin: auto;
}

.heading,
h2 {
    font-size: 48px !important;
    width: 100%;
    margin: 5px 0px;
}

text {
    font-family: "Times New Roman", serif;
    font-size: 22px;
}

.line {
    fill: none;
    stroke-width: 5;

    &:hover {
        stroke: orange !important;
        stroke-width: 10;
    }
}

.shape {
    stroke: black;

    &:hover {
        fill: orange !important;
    }
}