form {
    display: flex;

    .interactiveElement {
        margin: 0px auto 0px 0px;
        overflow: hidden;
        display: grid;
    }

    h3 {
        margin: 0px 0px;
    }
}

footer {
    background-color: #6A8755;
    color: #E8EEE3;
    width: calc(100% - 100px);
    padding: 14px 50px;
    font-size: 14px;
    margin: auto;
}

.heading,
h2 {
    font-size: 48px !important;
    width: 100%;
    margin: 5px 0px;
}

text {
    font-family: "Times New Roman", serif;
    font-size: 22px;
}

.line {
    fill: none;
    stroke-width: 5;

    &:hover {
        stroke: orange !important;
        stroke-width: 10;
    }
}

.shape {
    stroke: black;

    &:hover {
        fill: orange !important;
    }
}