/*.linehalfMilMark {
	fill: none;
	stroke: green;
	stroke-width: 1;
}*/


body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #E8EEE3;
    color: #1D2616;
    margin: 0px 0px 0px 0px;
}

header {
    background-color: #38482D;
    color: #E8EEE3;
    padding: 350px 400px;
}

footer {
    background-color: #38482D;
    color: #E8EEE3;
    width: calc(100% - 32px);
    padding: 14px 16px;
    font-size: 14px
}

/*
main {
 	margin: 20px 20px 20px 20px;
 }
 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6A8755;
}

nav li {
    float: left;
    max-height: 48px;
}

nav li a {
    display: block;
    color: #E8EEE3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #38482D;
}

.SVGText,
h2 {
    font-family: "Times New Roman", serif;
    font-size: 22px;
}

h1 {
    font-size: 72px;
}

.SVGHeading,
h2 {
    font-size: 48px;
}

SVG {
    background-color: #DDE6D6;
    padding: 40px 40px;
    border-style: solid;
    border: 2px;
    border-color: black;
}

.HTMLtext {
    display: flex;
    margin: 20px 20px 20px 20px;
    /*background-color: black;*/
}

.interactiveElements {
    background-color: #E8EEE3;
    margin: 0px 0px 10px 10px;
    overflow: hidden;
}

.interactiveElements {
    float: left;
    overflow: hidden;
}

.visualisations {
    float: none;
}

h3 {
    margin: 0px 0px;
}